root = true

[*.json]
# Indentation and spacing
indent_size = 4
indent_style = space
tab_width = 4

# New line preferences
end_of_line = lf
insert_final_newline = true

[*.cs]

# Indentation and spacing
indent_size = 4
indent_style = space
tab_width = 4

# New line preferences
end_of_line = lf
insert_final_newline = true

# Resharper
resharper_braces_for_ifelse = required_for_multiline
resharper_braces_for_for = required_for_multiline
resharper_braces_for_foreach = required_for_multiline
resharper_braces_for_while = required_for_multiline
resharper_braces_for_dowhile = required_for_multiline
resharper_braces_for_using = required_for_multiline
resharper_braces_for_lock = required_for_multiline
resharper_braces_for_fixed = required_for_multiline
resharper_braces_redundant = true

resharper_align_multiline_calls_chain = false
resharper_align_multiline_binary_expressions_chain = false
resharper_continuous_indent_multiplier = 1
resharper_wrap_arguments_style = wrap_if_long
resharper_wrap_lines = false
resharper_place_field_attribute_on_same_line = false
resharper_parentheses_redundancy_style = remove

resharper_blank_lines_around_single_line_type = 0
resharper_blank_lines_after_block_statements = 0
resharper_blank_lines_around_field = 0
resharper_blank_lines_around_single_line_field = 0
resharper_blank_lines_around_single_line_property = 0
resharper_blank_lines_before_single_line_comment = 0

resharper_for_built_in_types = use_explicit_type
resharper_for_simple_types = use_explicit_type
resharper_for_other_types = use_explicit_type

# Rules
csharp_prefer_braces = false
csharp_style_namespace_declarations = file_scoped:warning
dotnet_style_require_accessibility_modifiers = omit_if_default:warning
csharp_preferred_modifier_order = public, private, protected, internal, file, static, extern, new, virtual, abstract, sealed, override, readonly, unsafe, required, volatile, async:suggestion

# Formatting
dotnet_sort_system_directives_first = true
csharp_preserve_single_line_statements = false
csharp_preserve_single_line_blocks = true

# Naming styles
dotnet_naming_style.underscored.capitalization = camel_case
dotnet_naming_style.underscored.required_prefix = _

dotnet_naming_style.camel_case.capitalization = camel_case
dotnet_naming_style.pascal_case.capitalization = pascal_case

# PrivateConstants
dotnet_naming_symbols.private_constants.applicable_kinds = field
dotnet_naming_symbols.private_constants.applicable_accessibilities = internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.private_constants.required_modifiers = const

dotnet_naming_rule.private_constants_pascal_case.symbols = private_constants
dotnet_naming_rule.private_constants_pascal_case.style = pascal_case
dotnet_naming_rule.private_constants_pascal_case.severity = warning

# _privateFields
dotnet_naming_symbols.private_fields.applicable_kinds = field
dotnet_naming_symbols.private_fields.applicable_accessibilities = internal, private, protected, protected_internal, private_protected

dotnet_naming_rule.private_fields_underscored.symbols = private_fields
dotnet_naming_rule.private_fields_underscored.style = underscored
dotnet_naming_rule.private_fields_underscored.severity = warning

# localVariables
dotnet_naming_symbols.local_variables.applicable_kinds = local
dotnet_naming_symbols.local_variables.applicable_accessibilities = local

dotnet_naming_rule.local_variables_camel_case.symbols = local_variables
dotnet_naming_rule.local_variables_camel_case.style = camel_case
dotnet_naming_rule.local_variables_camel_case.severity = warning
